/* GENERALS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-s {
    width: 900px;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}

.debug {
    border: 1px solid red;
}

.bg-sky {
    background-color: #b4d0e7;
    height: 580px
}


.btn {
    background-color: #0061ff;
    color: white;

}


.col-2-3 {
    width: 60%;
}




/* UTILITIES */


/* header */

nav {
    align-items: center;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: currentColor;
    font-size: .9rem;
    padding: 10px;
}

button {
    border: none;
    background-color: transparent;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
}


header {
    padding: 20px;
    justify-content: space-between;

}


header li a {
    color: rgb(95, 95, 95);
}



/* main */

h1 {
    font-size: 3rem;
    line-height: 60px;
    padding: 50px 0;
}


.prova {

    display: flex;
    flex-direction: column;

    align-items: start;
}


.bg-sky i {
    font-size: 2.5rem;
}