/* GENERALS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.container-s {
    width: 950px;
    margin: 0 auto;
}

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}


.debug {
    border: 1px solid red;
}


.btn {
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
    text-align: center;
}


.btn-white {
    background-color: white;
    border: 1px solid grey;
    padding: 10px 20px;
    text-align: center;


}



.col-1-3 {
    width: 30%;
}

.col-2-3 {
    width: 60%;
}

.col-3-3 {
    width: 100%;
}



/* UTILITIES */

/*general*/

li {
    list-style: none;

}

a {
    text-decoration: none;
    color: currentColor;
    font-size: 1rem;

}

p {
    line-height: 23px;

}


/* header */

nav {
    align-items: center;

}



button {
    border: none;
    background-color: transparent;
    font-size: .9rem;
}


header {
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}


header li a {
    color: rgb(95, 95, 95);
    padding: 10px;
    word-spacing: 0.1em;
    letter-spacing: 0.03em;
}



/* main */

/*jumbo */

main {
    padding-top: 70px;
}

h1 {
    font-size: 5rem;
    line-height: 90px;
    padding: 50px 0;


}

.jumbo {
    background-color: #b4d0e7;
    display: flex;
}

.jumbo-section {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-right: 20px;
}

.jumbo a {
    font-size: 1em;
}

.jumbo i {
    font-size: 2.5rem;

}

.jumbo img {
    margin-bottom: -60px;
}

.jumbo p {
    padding-bottom: 10px;
    word-spacing: 0.1em;
    letter-spacing: 0.03em;
}



/* offer cards */

h2 {
    font-size: 2.2em;
    padding-top: 110px;
    padding-bottom: 20px;
}

.radio-options {
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: space-between;
    max-width: 40%;
}

.radio-off {
    display: inline-block;
    border: 2px solid #d2d2d4;
    border-radius: 50%;
    height: 10px;
    padding: 8px;
    margin-right: 10px;
}

.radio-on {
    display: inline-block;
    border: 4px solid #0061ff;
    border-radius: 50%;
    height: 2px;
    padding: 5px;
    margin-right: 8px;

}




h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.1em;
}

.card-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.card {
    border: 1px solid grey;
    margin-bottom: 30px;
}

.card>div:first-child {
    border-bottom: 1px solid grey;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card i {
    margin-right: 7px;
}


.card-body {
    padding: 30px 25px;
}

.card-body * {
    padding-bottom: 15px;

}

.card-body button {

    padding: 40px 0;
    width: 100%;
}

.card-body button a {
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    width: 250px;
}


.buynow a,
.scopri {
    color: #0061ff;
    line-height: 23px;
    font-size: 1rem;
    margin: 0 5px;
    text-decoration: underline;

}


.buynow p {
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}


.card-body>.flex {
    align-items: baseline;
}

.fa-check {
    color: #0061ff;
}



.card-body h4:nth-child(odd) {
    padding: 35px 0 25px;

}


.card-body p:nth-child(3) {
    color: grey;
}

/*big card*/

.card-big {
    display: flex;
    justify-content: space-between;
    align-items: ;
}


.card-big button {
    width: 30%;
    padding-top: 0;

}

.card-big~p {
    width: 66%;
}


/* partnership */



.partner {
    display: flex;
    column-gap: 50px;
    padding-top: 95px;
}

.partner-txt {
    width: 30%;
    padding-top: 50px;
}

.partner-txt>* {
    padding: 20px 0;
}



/* business feature */

.card-business-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 35px;
}

.card-business {
    padding: 20px;
    width: 33%;
}

.card-business>* {
    padding-bottom: 25px;
}


/* boxes */

.scopri {
    display: inline-block;
    padding: 40px 0 100px;
}

.boxes {
    display: flex;
}

.boxes>* {
    width: calc(100% / 3);

}

.col-1,
.col-3 {
    display: flex;
    flex-wrap: wrap;
}

.col-1>*,
.col-3>* {
    width: calc(100% / 2);
    text-align: center;
    padding: 80px;
    display: flex;
}

.col-1 img,
.col-3 img {
    filter: invert(1);


}

.box1 {
    background-color: #a2d39b;
    box-shadow: inset 0px 0px 1px 8px #d1e9cd;

}

.box2 {
    background-color: #61082b;
}

.box3 {
    background-color: #0093ce;
}

.box3 img {
    max-height: 35%;
    margin-top: 40px;
}

.box4 {
    background-color: red;

}


.col-2 {
    background-color: #f5f5f5;
    padding: 50px;
}


.col-2>* {
    padding-bottom: 50px;
}

.col-2 div {
    width: 20%;
    border-top: 2px solid #d3d3d6;
}

.box5 {
    background-color: #d5001f;
}

.box6 {
    background-color: #b4d0e7;
}

.box7 {
    background-color: #0d2481;
}

.box8 {
    background-color: #ffd830;
}



/* banner */

.banner {

    background-color: #b4d0e7;
    height: 300px;

}


.banner>* {
    display: flex;
    align-items: baseline;
    justify-content: space-between;



}

.banner h2 {
    width: 50%;
    color: #61082b;
    line-height: 42px;
    word-spacing: 0.08em;
    letter-spacing: 0.03em;

}

.banner a {
    padding-left: 50px;
    padding-right: 50px;
    border: none;
}



/* faq */
.faq {
    padding: 20px 0 150px;
}

.faq h2 {
    word-spacing: 0.08em;
    letter-spacing: 0.03em;
    padding-bottom: 60px;
}

.faq>.flex {
    justify-content: space-between;
    align-items: baseline;
    padding: 35px 0;
}



.faq>* {
    border-bottom: 1px solid #b0b0b0;
}

.faq i {
    margin-right: 45px;
    font-size: 0.7em;
}