/* GENERALS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
}



/* UTILITIES */


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    border: none;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}